<!-- <ion-modal-view>
    <ion-header-bar align-title="center" class="bar-royal">
        <h1 class="title">NFC Checkin</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-person"></i>
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-key"></i>
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-royal" type="submit">Log in</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view> -->
<ion-view view-title="LOGIN" align-title="center">
    <!-- <ion-header-bar align-title="center" class="bar-royal">
        <h1 class="title">NFC Checkin</h1>
    </ion-header-bar> -->
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <!-- <div class="app-icon"></div> -->
                <h1>NFC CHECKOUT</h1>
            </div>
        </div>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input label-md-input">
                    <i class="icon ion-person"></i>
                    <span class="input-label" style="color:white">&nbsp;&nbsp;Username</span>
                    <input type="text" ng-model="loginData.username" class="item-md-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                </label>
                <label class="item item-input label-md-input">
                    <i class="icon ion-key"></i>
                    <span class="input-label" style="color:white">&nbsp;&nbsp;Password</span>
                    <input type="password" ng-model="loginData.password" class="item-md-input">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-royal" type="submit">Log in</button>
                <p class="text-center">
                    <a href="#/setting">Setting</a>
                </p>
            </div>
        </form>
    </ion-content>
</ion-view>
