<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar align-title="center" class="bar-royal">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar align-title="center" class="bar-dark">
            <h1 class="title">NFC Checkout</h1>
        </ion-header-bar>
        <ion-content class="dark">
            <!-- <ion-list>
        <ion-item menu-close href="#/app/playlists">
          Books
        </ion-item>
        <ion-item menu-close href="#/login">
          Logout
        </ion-item>
      </ion-list> -->
            <div class="list">
                <a class="item item-icon-left" menu-close href="#/app/playlists">
                    <i class="icon ion-clipboard"></i> Books
                </a>
                <a class="item item-icon-left" menu-close href="#/app/slip">
                    <i class="icon ion-image"></i> Slip
                </a>
                <a class="item item-icon-left" menu-close href="#" ng-click="doLogout()">
                    <i class="icon ion-log-out"></i> Logout
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
