<ion-view view-title="CHECKOUT" class="bg">
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="searchText">
            </label>
            <button class="button button-clear" ng-click="loadBookInfo(searchText)">
                Find
            </button>
        </div>
        <div class="list card" ng-show="book != undefined">
            <div class="item">
                <h2><b>Book Number</b> : {{book.BookNo}}</h2>
                <!-- <p>{{book.CheckInDate}}</p> -->
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="{{$root.serviceUrl}}/CheckOutApi/api/bookimg?barcode={{book.BookNo}}">
                <p>
                   <b>{{book.BookTitle}}</b>
                </p>
            </div>
        </div>
        <div class="padding" ng-show="book != undefined">
                <button class="button button-block button-royal" type="submit" ng-click="checkOut(book.BookNo)">Check Out</button>
            </div>
    </ion-content>
</ion-view>
