<ion-view view-title="BOOKS" class="bg">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-compose-outline" ng-click="gotoCheckin()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <a class="item item-icon-left" href="#" ng-show="playlists != undefined" ng-click="clearList()">
                <i class="icon ion-refresh"></i> Clear
            </a>
            <div class="item item-divider">
                <b>CHECKOUT LIST</b>
            </div>

            <div class="list card" ng-show="playlists == undefined">
                <div class="item item-icon-left assertive">
                    <i class="icon ion-radio-waves"></i>
                    <h2>Read TAG</h2>
                    <p>by tapping Phone on the book</p>
                </div>
            </div>
            <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}"> -->
            <a class="item item-icon-left" ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.BookNo}}">
                <i class="icon ion-ios-book"></i>
                <h2>{{playlist.BookNo}}</h2>
                <p>{{playlist.BookTitle}}</p>
            </a>
            <!-- </ion-item> -->
        </ion-list>
        <!-- <img class="full-image" src="{{slip}}"> -->
    </ion-content>
</ion-view>
