<ion-view view-title="BOOK" class="bg">
    <ion-content>
        <div class="list card">
            <div class="item">
                <h2 ng-if="book != undefined"><b>Book Number</b> : {{book.BookNo}}</h2>
                <!-- <p>{{book.CheckInDate}}</p> -->
                <h2 ng-if="book == undefined">Book not found</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="{{$root.serviceUrl}}/CheckOutApi/api/bookimg?barcode={{book.BookNo}}">
                <p>
                    <b>{{book.BookTitle}}</b>
                </p>
                <p ng-show="book.CheckInDate != undefined">
                    <a href="#" class="subdued">CheckIn Date <b>{{book.CheckInDate}}</b></a>
                </p>
                <p ng-show="book.CheckOutDate != undefined">
                    <a href="#" class="subdued">CheckOut Date <b>{{book.CheckOutDate}}</b></a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
