<div class="bar bar-header bar-royal">
    <h1 class="title">SETTING</h1>
</div>
<ion-view view-title="SETTING" class="bg" align-title="center">
    <ion-content>
        <br />
        <br />
        <br />
        <br />
        <form>
            <div class="list">
                <label class="item item-input item-stacked-label" style="background-color: rgba(0, 0, 0, .6);border-color: rgba(0, 0, 0, 0.5) !important;color: white;">
                    <i class="icon ion-at"></i>
                    <span class="input-label" style="color:white">&nbsp;&nbsp;Service</span>
                    <input type="text" ng-model="setting.serviceUrl" class="item-md-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Service Url">
                </label>
            </div>
            <div class="padding">
                <div class="button-bar">
                    <button class="button button-block button-royal" ng-click="default()">Default</button>
                    <button class="button button-block button-royal" ng-click="save()">Save</button>
                </div>
                <!-- <button class="button button-block button-royal" type="submit">Save</button> -->
            </div>
            <div class="padding">
                 <button class="button button-block button-royal" ng-click="back()">Back</button>
            </div>
        </form>
    </ion-content>
</ion-view>
