<ion-view view-title="SLIP" class="bg">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="{{slip}}">
            </div>
        </div>
    </ion-content>
</ion-view>
