/* Empty. Add your own CSS if you like */


/* Login
==================================*/

.bg {
  /*background-image: url('../img/background.jpg');
  background-size:100% 100%;
  background-repeat:no-repeat;*/
  background-color: #EEEEEE;
}

.bar.bar-royal {
    border-color: #D32F2F;
    background-color: #F44336;
    background-image: linear-gradient(0deg, #6b46e5, #6b46e5 50%, transparent 50%);
    color: #fff;
}

.button.button-royal {
    border-color: transparent;
    background-color: #009688;
    color: #fff;
}

.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.hero {
    background-size: cover;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    color: #fff;
    height: 200px;
    position: relative;
    text-align: center;
    -webkit-transition: all 1s cubic-bezier(.55, 0, .1, 1);
    transition: all 1s cubic-bezier(.55, 0, .1, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
}

.no-header {
    top: 0;
}

.hero.no-header {
    height: 244px;
}

.flat,
.flat.button,
.flat.button.icon,
.flat.hero,
.flat.tabs {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.hero>.content {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.hero>* {
    -webkit-transition: opacity 2.5s cubic-bezier(.55, 0, .1, 1);
    transition: opacity 2.5s cubic-bezier(.55, 0, .1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
}

h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}

.label-md-input {
    background-color: rgba(0, 0, 0, .6);
    border-color: rgba(0, 0, 0, 0.5) !important;
    color: white;
}

.item-md-input {
    background-color: transparent !important;
    bottom: 0;
    color: #fff !important;
    letter-spacing: .25rem;
    position: relative;
    z-index: 1;
}



/* side menu */
/*dark is class added to ion-content, since ion-conte*/
/*is made up of multiple pieces and is a pain to style each*/
.dark {
  background-color: #3f4041 !important;
  color: #ffffff;
}

/*Set the background to transparent for ion-item*/
.dark .item {
  background-color: transparent;
  border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #333333;
  color: #F0F1F1;
}

/*Changes the border for the last item*/
.dark .item:last-child {
  border-bottom: 1px solid #333333;
}

/*Ion-item adds item-complex and an inner div, .item-content*/
/* this needs to be transparent too, but doesnt need borders*/
.dark .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}


/*Just makes the type white*/
.dark h2,
.dark h3,
.dark p,
.dark a {
  color: #F0F1F1;
}
